body { /* Styling for entire body*/
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  margin: 0px;
  min-height: 100vh;
  overflow: auto;
  padding: 0px;
}

.dark-mode { /* Dark mode styling. Javascript is needed to make this effective*/
  background-color: black !important;
  color: white !important;
}

.top-nav-bar { /* Styling for navigation bar at the top*/
  align-items: center;
  background-color: white;
  border-bottom: 1px solid rgb(160, 160, 160);
  border-top: 3px solid rgb(37, 206, 22);
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#Nav-title { /* Navigation title*/
  font-size: 1.25rem;
}

.nav-buttons { /* container for 3 buttons on the navigation bar */
  display: flex;
  position: absolute;
  right: 2rem;
  justify-content: space-around;
  margin-left: 35%;
}

.nav-buttons > .button-container > button { /* Styling for each button on the navigation bar */
  background-color: transparent;
  border: none;
  color: black;
  font-size: 2rem;
}

button:hover { /* Cursor should change to be a pointer when it hovers over any buttons*/
  cursor: pointer;
}

.main { /* Styling for main body of the game. Main container has the game, and instructions
          The game and instructions are side by side*/
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  position: relative;
  top: 100px;
  width: auto;
}

.game { /* game container that contains the wordle grid and the start over button. 
        Game container is within main container */
  text-align: center;
}

#Win-screen { /* Screen that shows up when the user wins. The element with this tag is hidden by default
              This container uses overflow: hidden to crop the gif that appears*/
  height: 280px;
  overflow: hidden;
  width: 480px;
}

#Win-screen > img { /* margin-top of 80 pixels ensure that the image gets cropped*/
  margin-top: -80px
}

.instructions { /* instructions tab for the game. It is located within the main container*/
  border-left: 1px solid rgb(212, 212, 212);
  margin-left: 20px;
  padding-left: 20px;
}

.instructions > ul {
  list-style-type: circle;
}

.grid-container { /* Layout of wordle grid */
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 240px;
  margin-top: 40px;
  padding: 0px;
  width: 240px;
}

.grid-row { /* Layout of wordle grid row */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grid { /* Styling of each individual grid */
  align-items: center;
  border: 1px solid rgb(185, 185, 185);
  display: flex;
  font-size: 30px;
  font-weight: 700;
  height:60px;
  justify-content: center;
  margin: 2px;
  padding: 0px;
  width: 60px;
}

#Start-over { /* Start over button container */
  height: 38px;
  margin: 40px;
  padding: 0px;
}

#Start-over > button { /* Start over button */
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 6px;
  color: white;
  display: inline-block;
  font-size: 16px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
}

.info-bar { /* Default colour used for hints */
  background-color: rgb(249, 241, 232, 0.85);
  color: black !important;
  bottom: 67px;
  position: fixed;
  text-align: center;
  width: 100%;
}

#info-bar-content {
  font-size: 1rem;
}

#info-bar-win { /* The hint bar changes color to gray when the user wins */
  background-color: rgb(247, 247, 247, 0.85) !important;
  color: black !important;
  bottom: 67px;
  position: fixed;
  text-align: center;
  width: 100%;
}

#info-bar-loss { /* The hint bar changes color to red when the user loses */
  background-color: rgb(221, 5, 28, 0.85) !important;
  color: white !important;
  bottom: 67px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer { /* Styling of footers. Z-index of 1 ensures that it is layered above every other element.*/
  background-color: white;
  border-top: 1px solid gray;
  bottom: 0;
  left: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.green { /* Grid colour for correct letter*/
  background-color: #79b851 !important;
  color: white !important;
}

.gray { /* Grid colour for incorrect letter*/
  background-color: #a4aec4 !important;
  color: white !important;
}

.yellow { /* Grid colour for letter in wrong order*/
  background-color: #f3c237 !important;
  color: white !important;
}

.hide { /* Any elements with this class is hidden. Used for buttons that toggle certain elements on and off*/
  display: none !important;
}



@media (max-width: 950px) {
  body { /* Styling for entire body*/
    padding: 0px;
  }

  .main { /* Styling for main body of the game. Main container has the game, and instructions
            The game and instructions are top to bottom in the mobile design*/
    display: flex;
    flex-direction: column;
  }

  .grid-container { /* Layout of wordle grid */
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 240px;
    margin-top: 40px;
    margin: auto;
    padding: 0px;
    width: 240px;
  }

  .instructions { /* instructions tab for the game. It is located within the main container*/
      border-left: none;
      margin-left:none;
      padding-left:none;
      border-top: 1px solid rgb(212, 212, 212);
      margin-top: 20px;
      padding-top: 20px;
      margin-bottom: 4rem;
  }

  .instructions > * {
    font-size: 0.8rem;
  }

  .footer { /* Styling of footers. Z-index of 1 ensures that it is layered above every other element.*/
    font-size: 0.8rem;
  }
}


@media (max-width: 768px) {
  
  #Nav-title { /* Navigation title*/
    font-size: 1rem;
  }
  .nav-buttons > .button-container > button {
    font-size: 1.4rem;
  }

  #info-bar-content {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {

  #Win-screen { /* Screen that shows up when the user wins. The element with this tag is hidden by default
              This container uses overflow: hidden to crop the gif that appears*/
    padding-top: 3rem;
    height: 262.5px;
    overflow: hidden;
    width: 450px;
  }

  #Win-screen img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}